html, body, div, nav, p, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 공통 해제 */


img{
  object-fit: cover;
  vertical-align: bottom;
}

em{
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 670px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.6;
  color: #333;
}

.main{
  position: relative;
  overflow: hidden;
  height: 850px;
  background-color: #656565;
}

.title-img img{
  position: absolute;
}
.main .parallax{
  position: absolute;
}

.tit {
  overflow: hidden;
  margin: 100px auto;
}

span{
  float: left;
  width: 210px;
  margin: 0 20px 0 90px;
}

.sc_01 img{
  position: relative;
  top: -130px;
  z-index: -1;
}

.sc_02, .sc_04{
  overflow: hidden;
}

.sc_02 .parallax{
  margin-top: 40px;
}

.grey{
  padding-bottom: 100px;
  background-color: #f4f4f4;
  background-image: url(images/sc/sc_02.jpg);
  background-repeat: no-repeat;
}

.dark-grey{
  background-color: #282828;
  height: 950px;

}
.test{
  overflow: hidden;
}

.relative {
  position: relative;

}

.promo_01{
  position: absolute;
  top: -400px;
  right: 35px;
  z-index: 1;

}

.promo_02{
  position: absolute;
  left: -250px;

}

.promo_03{
  position: absolute;
  left: 350px;
  top: 250px;

}

.grey2{
  background-color: #f4f4f4;
}

.header{
  overflow: hidden;
}

.close{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: .5;
  z-index: 1;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.3);
}
.close img{
  margin: 4px;
  width: 42px;
  height: 42px;
}
@media (min-width: 1080px) {
  .header, .title-img, .tit, .sc_01, .sc_02, .sc_03, .sc_04 {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:1079px) {
  img {
    width: 100%;
  }
  span{
    margin: 0 8vw 30px 0;
    width: auto;
  }

  .tit-line {
    margin: 0 30px;
  }

  .tit{
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .tit em{
    width: auto;
  }
  .main{
    height: 69vw;
  }
  .main .parallax{
    width:150vw;
  }
  .sc_02 .parallax{
    margin-top: 0px;
  }
  .promo_01{
    top: -40vw;
    width: 45vw;
  }
  .promo_02{
    left: -20vw;
  }
  .promo_03{
    width: 45vw;
    left: 30vw;
  }
  .dark-grey{
    height: 100vw;
  }
}
@media (max-width:768px) {
  .tit {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sc_01 img{
    top: -50px;
  }
  .promo_01{
    top: -30vw;
    right: 0px;

  }
  .promo_02{
    left: -20vw;
  }
  .promo_03{
    left: 30vw;
    top: 30vw;
  }
  .grey{
    padding-bottom:0px;

  }
}
