html, body, div, nav, p, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 공통 해제 */


img{
  object-fit: cover;
  vertical-align: bottom;
}

em{
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 670px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.6;
  color: #444;
}


.main{
  position: relative;
  overflow: hidden;
  height: 850px;
  background-color: #1d3e47;
}

.title-img img{
  position: absolute;
}
.main .parallax{
  position: absolute;
}

.tit {
  overflow: hidden;
  margin: 100px auto;
}

.tit-line {
  margin: 0 90px 20px 90px;
  border-top: 1px solid #999;
}

span{
  float: left;
  width: 210px;
  margin: 0 20px 0 90px;
}

.pa_01 {
  overflow: hidden;
}

.pink{
  background-image: url(images/pa/pa_01.jpg);
}


.pa_03 .tit{
  margin-bottom: 30px;
}
.pa_03 .text-2colume{
  overflow: hidden;
  padding: 0 90px;
}
.pa_03 em{
  width: 450px;
}

.pa_04 {
  position: relative;
  top: -40px;
  z-index: -1;
  width: 100%;
}

.dark{
  background-color: #1a3f46;
}
.dark .tit em {
  color:#999;
}
.pa_05{
  overflow: hidden;
  background-image: url(images/pa/pa_05.jpg);
}

.pa_06{
  overflow: hidden;
}

.pa_06 strong{
  font-size: 14px;
  font-weight: 00;
  line-height: 2;
}

.pa_06 .tit{
  margin-bottom: 20px;
}
.pa_06 span{
  width: 200px;
}
.pa_06 .text-2colume{
  overflow: hidden;
}
.pa_06 em{
  width: 200px;
  margin-right: 70px;
}


.pa_07 .tit{
  margin-top: 0px;
}
.pa_07{
  position: relative;
  overflow: hidden;
}
.pa_07_box{
  height: 1200px;
}
.pa_07 .parallax{
  position: absolute;
  padding-left:700px;
}
.pa_07 .parallax2{
  position: absolute;
}

video{
  float: left;
  width: 260px;
  height: auto;
}
.header{
  overflow: hidden;

}

.close{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: .5;
  z-index: 1;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.3);
}
.close img{
  margin: 4px;
  width: 42px;
  height: 42px;
}

.gif{
  overflow: hidden;
  width: 540px;
  margin: 0 auto;
  margin-bottom: 80px;
}

@media (min-width: 1080px) {
  .header, .title-img, .tit, .stit, .pa_01, .pa_02, .pa_03, .pa_05, .pa_06, .pa_07{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:1079px) {
  img {
    width: 100%;
  }
  span{
    margin: 0 8vw 30px 0;
    width: auto;
  }
  .tit{
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .tit em{
    width: auto;
  }

  .tit-line {
    margin: 0 0 20px 0;
  }

  .main{
    height: 69vw;
  }
  .main .parallax{
    width:150vw;
  }
  .graph{
    height: auto;
    background-image: none;
    margin-bottom: 50px;
  }
  .pa_03 span{
    margin-bottom: 0;
  }
  .pa_03 .text-2colume{
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 0 0px;
  }
  .pa_06 span{
    width: auto;
  }
  .pa_06 em{
    margin-right: 0;
  }
  .pa_07_box .parallax{
    width: 30vw;
  }
  .pa_07_box{
    height: 100vw;
  }
  .pa_07 .parallax{
    padding-left: 60vw;
  }
  br{
    display: none;
  }

}

@media (max-width:768px) {
  .tit {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  video{
    float: none;
    width: 100%;

  }
  .pa_03 .text-2colume em{
    float: none;
  }

  .pa_04 {
    top: 0px;
  }

  .gif{
    overflow: hidden;
    width: auto;
    margin: 0 8vw;
    margin-bottom: 80px;
  }
}
