html, body, div, nav, p, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 공통 해제 */
body{
  background-color: #282828;
  margin: 0 20px;
}

.close{
  position: fixed;
  right: 30px;
  top: 30px;
  opacity: .7;
}

.header{
  margin-top: 220px;
  overflow: hidden;

}
.header h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 14px;
  color:#fff;
}

.logo{
  margin-bottom: 60px;
}

.header img {
  width: 50px;
}

.about .excerpt{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #999;

}

.chapter{
  overflow: hidden;
  margin-top: 150px;
}

.tit{
  float: left;
  width:230px;
}
.tit span{
  font-family: 'Roboto',sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
  color:#fff;
}
.ctn_1, .ctn_2, .ctn_3{
  float: left;
  overflow: hidden;
}

ul{
  float:left;
}

li{
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}
.ctn_1 .section_01 {
  width: 148px;
  color: #fff;
}
.ctn_1 .section_02 {
  width: 200px;
  color: #fff;
}
.ctn_1 .section_03 {
  color: #999;
}

.tit-line {
  margin-bottom: 50px;
  margin-right: 100px;
  border-top: 1px solid #333;
}

.ctn_2 .section_00{
  width: 148px;

}
.ctn_2 .section_01 {
  width: 200px;
  color: #fff;
}
.ctn_2 .section_02 {
  width: 200px;
  color: #fff;
}
.ctn_2 .section_03 {
  color: #999;
}

.ctn_3 .section_01{
  width: 148px;
  color: #fff;
}
.ctn_3 .section_02 {
  color: #999;
}

.date{
  color: #999;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 11px;
  margin-bottom: 10px;
}


.footer{
  color: #999;
  margin: 170px 0px 30px 0px;
  font-size: 10px;
}


@media (max-width:768px) {
  .chapter{
    margin-top: 100px;
  }

  .tit{
    float: none;
    margin-bottom: 30px;
  }
  .tit-line{
    margin-right: 0;
  }

  .ctn_1 .section_01 {
    width: 200px;
   }

  .ctn_1 .section_02 {
    display: none;
  }

  .ctn_2 .section_01{
    display: none;
  }
}

@media (max-width:900px){
  .ctn_2 .section_00{
    display: none;
  }
  .ctn_2 .section_01{
    width: 148px;
  }
}

@media (min-width: 940px) {
  .header, .body, .footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
