html, body, div, nav, p, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 공통 해제 */


img{
  object-fit: cover;
  vertical-align: bottom;
}

em{
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 670px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.6;
  color: #444;
}

.main{
  position: relative;
  overflow: hidden;
  height: 850px;
  background-color: #c8d0d5;
}

.title-img img{
  position: absolute;
}
.main .parallax{
  position: absolute;
}

.tit {
  overflow: hidden;
  margin: 100px auto;
}


span{
  float: left;
  width: 210px;
  margin: 0 20px 0 90px;
}

.ss_02, .ss_03, .ss_05 {
  overflow: hidden;
}
.ss_02 em {
  color: #fff;
}

.ss_05 {
  height: 100vw;
}
.bg{
  width: 100%;
}

.logo{
  width: 81px;
  margin: 200px auto 50px auto;
}
.ss_06 em{
  display: block;
  float: none;
  text-align: center;
  margin: 0 auto 200px auto;
}
.grey{
  background-color: #e3e5e7;
}

.dark{
  background-color: #7d8aab;
}



video{
  width: 400px;
  height: auto;

}
.header{
  overflow: hidden;
}

.close{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: .5;
  z-index: 1;
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.3);
}
.close img{
  margin: 4px;
  width: 42px;
  height: 42px;
}

.gif{
  width: 400px;
  margin: 0 auto 150px auto;

}

@media (min-width: 1080px) {
  .header, .title-img, .tit, .stit, .ss_01, .ss_02, .ss_03, .ss_06{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:1079px) {
  img {
    width: 100%;
  }
  span{
    margin: 0 8vw  30px 0;
    width: auto;
  }
  .tit{
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .tit em{
    width: auto;
  }


  .main{
    height: 69vw;
  }
  .main .parallax{
    width:150vw;
  }



  video{
    float: none;
  }

  .gif{
    overflow: hidden;
    width: auto;
    margin: 0 8vw;
    margin-bottom: 80px;
  }

  br{
    display: none;
  }
}

@media (max-width:768px) {
  .tit {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .ss_04 img{
    width: 125vw;
  }
  video{
    width: 100%;
  }
}
